@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root{
    --color-text-base:#ffffff;
    --color-light-muted:#f1f5f9;
    --color-text-inverted:#06b6d4;
    --color-border-inverted:#06b6d4;
    --color-button-accent:#ffffff;
    --color-button-accent-hover:#e2e8f0;
    --color-button-muted:#0891b2;
    --color-button-muted-hover:#06b6d4;
    --color-fill:#0891b2;

  }
}
@layer components {
  .bottomNav {
    @apply flex flex-col hover:text-skin-inverted transition-all duration-300 ;
  }
}
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 2px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}
